# File: urban_air_quality_digital_twin/.gitignore
# Description: Git ignore rules for Urban Air Quality Digital Twin

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


frontend/node_modules

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# VS Code
.vscode/

# Data
backend/data
/data/raw/
/data/processed/
urban_air_quality_digital_twin/data/raw/
urban_air_quality_digital_twin/data/processed/

# Logs
*.log

# Mac
.DS_Store

# Windows
Thumbs.db 